# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles/
CMakeCache.txt
*.dir/
cmake_install.cmake

# Visual Studio
Debug/
Win32/
*.sdf
*.suo
